{% extends 'base.html' %}

{% block title %}GSMCOE Events{% endblock %}

{% comment %} {% block navigation%}
                <a href="/" class="text-white text-decoration-none">Home</a>
                <a href="sports/" class="text-white text-decoration-none">Sports</a>
                <a href="teams/" class="text-white text-decoration-none">Teams</a>
                <a href="registration/" class="text-white text-decoration-none" target="_blank">Registration</a>
{% endblock %} {% endcomment %}

{% block content %}
<h1>Make changes for Events page here</h1>

{% endblock %}

