{% extends 'base.html' %}

{% block title %}GSMCOE Events{% endblock %}
<link rel="stylesheet" href="/static/css/styles.css">

{% block body %}
<section class="colored-section" id="title" >
    <div class="container-fluid">
        
        
        <h2 class="testimonial-text">Upcoming Events</h2>
        <p>Check out our upcoming engaging and entertaining events..!</p>
        <div id="testimonial-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
            <div class="carousel-inner">
                
                <div class="carousel-item active container-fluid">
                    <h2 class="testimonial-text">Umang</h2>
                    <img class="Schedule_image" src="/static/assets/events/gather-c.webp" alt="Explore upcoming events,join sports teams, and book venues">
                </div>
                <div class="carousel-item container-fluid">
                    <h2 class="testimonial-text">Shivjayanti</h2>
                    <img class="Schedule_image" src="/static/assets/events/shivjayanti24.jpg" alt="Explore upcoming events,join sports teams, and book venues.">
                </div>
                <div class="carousel-item container-fluid">
                    <h2 class="testimonial-text">Cultural Event</h2>
                    <img class="Schedule_image" src="/static/assets/events/cultural24.jpg" alt="Explore upcoming events,join sports teams, and book venues.">
                </div>
            </div>
            <a class="carousel-control-prev" href="/events" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="/events" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
            <a class="carousel-control-next" href="/events" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</section>


  <!-- Pricing -->

<section class="white-section" id="pricing">
    <p>Explore the events and join a team.</p>

    <div class="row">
        <div class="pricing-column col-lg-4 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Gathering (Umang-25)</h3>
                    <img src="/static/assets/events/gather-c.webp" alt="" height="150px" width="450px" id="football-img">
                </div>
                <div class="card-body">
                    <!-- <h2 class="price-text">₹ 1500</h2> -->
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab sint tenetur eveniet, numquam dolor vero reiciendis! Perspiciatis, quasi. Voluptatum dolor exercitationem tenetur deserunt quaerat repudiandae molestiae nemo sunt blanditiis. Nostrum.</p>
                    <button class="btn btn-lg btn-block btn-dark openPopupBtn" type="button">View Details</button>
                    <div id="popupForm" class="popup">
                        <div class="popup-content">
                            <span class="closeBtn">&times;</span>
                            <h2>Event Title</h2>
                            <p>Date: October 25, 2024</p>
                            <p>Location: XYZ Stadium</p>
                            <p>Description: Join us for an exciting event featuring live music, food stalls, and fun games. Don't miss out!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pricing-column col-lg-4 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Cultural Event</h3>
                    <img src="/static/assets/events/cultural24.jpg" alt="" height="150px" width="450px">
                </div>
                <div class="card-body">
                    <!-- <h2 class="price-text">₹ 1500</h2> -->
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam possimus, nulla iure et temporibus necessitatibus, officia perferendis aliquid nihil repudiandae nobis quam dolorum explicabo iusto recusandae libero illum? Dolorem, fugit?</p>
                    <button class="btn btn-lg btn-block btn-dark openPopupBtn" type="button">View Details</button>
                    <div id="popupForm" class="popup">
                        <div class="popup-content">
                            <span class="closeBtn">&times;</span>
                            <h2>Event Title</h2>
                            <p>Date: October 25, 2024</p>
                            <p>Location: XYZ Stadium</p>
                            <p>Description: Join us for an exciting event featuring live music, food stalls, and fun games. Don't miss out!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pricing-column col-lg-4 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Shivjayanti</h3>
                    <img src="/static/assets/events/shivjayanti24.jpg" alt="" height="150px" width="450px">
                </div>
                <div class="card-body">
                    <!-- <h2 class="price-text">₹ 1500</h2> -->
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam possimus, nulla iure et temporibus necessitatibus, officia perferendis aliquid nihil repudiandae nobis quam dolorum explicabo iusto recusandae libero illum? Dolorem, fugit?</p>
                    <button class="btn btn-lg btn-block btn-dark openPopupBtn" type="button">View Details</button>
                    <div id="popupForm" class="popup">
                        <div class="popup-content">
                            <span class="closeBtn">&times;</span>
                            <h2>Event Title</h2>
                            <p>Date: October 25, 2024</p>
                            <p>Location: XYZ Stadium</p>
                            <p>Description: Join us for an exciting event featuring live music, food stalls, and fun games. Don't miss out!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pricing-column col-lg-4 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Technobash-25</h3>
                    <img src="/static/assets/events/gather-c.webp" alt="" height="150px" width="450px">
                </div>
                <div class="card-body">
                    <!-- <h2 class="price-text">₹ 1000</h2> -->
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident cum cupiditate voluptates, voluptatibus voluptas numquam autem quod placeat odio nesciunt consequuntur in. Fugiat reiciendis perferendis labore! Dolore dolorum facere eum?</p>
                    <button class="btn btn-lg btn-block btn-dark" type="button" id="openPopupBtn">View Details</button>
                    <div id="popupForm" class="popup">
                        <div class="popup-content">
                            <span class="closeBtn">&times;</span>
                            <h2>Event Title</h2>
                            <p>Date: October 25, 2024</p>
                            <p>Location: XYZ Stadium</p>
                            <p>Description: Join us for an exciting event featuring live music, food stalls, and fun games. Don't miss out!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/static/js/popupscript.js"></script>



{% endblock body %}

</body>
</html>

