{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/organisers.css' %}">
{% endblock head %}

{% block body %}

<h1 style="margin-top: 15px;">Event Coordinators</h1>
<br><br>
<div class="content">
  <table class='table'>
    <thead>
      <tr>
        <th>Sport</th>
        <th>Faculty Coordinator</th>
        <th>Student Coordinators</th>
        <th>Contact Numbers</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Teaching Sports Head</td>
        <td>
          <div>Prof. Faculty 1</div>
          <div>9898989898</div>
        </td>
        <td>
          <div>1. Student 1</div>
          <div>2. Student 2</div>
        </td>
        <td>
          <div>9898989898</div>
          <div>9898989898</div>
        </td>
      </tr>
      <tr>
        <td>Cricket</td>
        <td>
          <div>Prof. Faculty 2</div>
          <div>9898989898</div>
        </td>
        <td>
          <div>1. Student 3</div>
          <div>2. Student 4</div>
        </td>
        <td>
          <div>9898989898</div>
          <div>9898989898</div>
        </td>
      </tr>
      <tr>
        <td>Football</td>
        <td>
          <div>Ashwin Santapure</div>
          <div>8080985101</div>
        </td>
        <td>
          <div>1. Student 5</div>
          <div>2. Student 6</div>
        </td>
        <td>
          <div>9876543210</div>
          <div>9876543211</div>
        </td>
      </tr>
      <tr>
        <td>Volleyball</td>
        <td>
          <div >Tanmay Gaikwad</div>
          <div>9876549876</div>
        </td>
        <td>
          <div>1. Student 7</div>
          <div>2. Student 8</div>
        </td>
        <td>
          <div>9876543212</div>
          <div>9876543213</div>
        </td>
      </tr>
      <tr>
        <td>Kabaddi</td>
        <td>
          <div >Parag Nandre</div>
          <div>9356610970</div>
        </td>
        <td>
          <div>1. Student 9</div>
          <div>2. Student 10</div>
        </td>
        <td>
          <div>9876543214</div>
          <div>9876543215</div>
        </td>
      </tr>
      <tr>
        <td>Badminton</td>
        <td>
          <div >Yash Sawant</div>
          <div>9325132658</div>
        </td>
        <td>
          <div>1. Student 11</div>
          <div>2. Student 12</div>
        </td>
        <td>
          <div>9876543216</div>
          <div>9876543217</div>
        </td>
      </tr>
      <tr>
        <td>Chess</td>
        <td>
          <div >Pratham Shah</div>
          <div>9898989898</div>
        </td>
        <td>
          <div>1. Student 13</div>
          <div>2. Student 14</div>
        </td>
        <td>
          <div>9876543218</div>
          <div>9876543219</div>
        </td>
      </tr>
      <tr>
        <td>Carrom</td>
        <td>
          <div >Nikhil Kagde</div>
          <div>9022715799</div>
        </td>
        <td>
          <div>1. Student 15</div>
          <div>2. Student 16</div>
        </td>
        <td>
          <div>9876543220</div>
          <div>9876543221</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock body %}