{% comment %} {% extends "base.html" %}

{% block title %}Organisers{% endblock title %}
{% block style %}
.content{
  border: 3px solid hsl(0, 0%, 89%);
    padding: 35px;
    margin-bottom: 50px;
    /* display: inline-block; */
    width: 100%;
    height: 80%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.4);
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.table{
  margin-top:15px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }

  td, th {
    border: 2px solid #dee2e6;;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  h1{
    margin-left:30px;
    font-size:50px;
    padding-top: 15px;
  }
{% endblock style %}
{% block body %}

<h1 style="margin-top: 15px;">Event Coordinators</h1>
<br><br>
<div class="content">
  <table class='table'>
      <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Contact</th>
      </tr>
      <tr>
          <td>Teaching Sports Head</td>
          <td>Prof. Sachin Yadav</td>
          <td>9898989898</td>
      </tr>
      <tr>
        <td>Cricket Co-ordinator</td>
        <td>Lokesh Sarode</td>
        <td>7972142499</td>
      </tr>
      <tr>
        <td>Football co-ordinator</td>
        <td>Ashwin Santapure</td>
        <td>8080985101</td>
      </tr>
      <tr>
        <td>Voleyball co-ordinator</td>
        <td>Tanmay Gaikwad</td>
        <td>9876549876</td>
      </tr>
      <tr>
        <td>Kabaddi co-ordinator</td>
        <td>Parag Nandre</td>
        <td>9356610970</td>
      </tr>
      <tr>
        <td>Badminton co-ordinator</td>
        <td>Yash Sawant</td>
        <td>9325132658</td>
      </tr>
      <tr>
        <td>Chess co-ordinator</td>
        <td>Pratham Shah</td>
        <td>9898989898</td>
      </tr>
      <tr>
        <td>Carrom co-ordinator</td>
        <td>Nikhil Kagde</td>
        <td>9022715799</td>
      </tr>
    </table>

  </div>
{% endblock body %} {% endcomment %}

import React from "react";

const Organisers = () => {
    const coordinators = [
        { position: "Teaching Sports Head", name: "Prof. Sachin Yadav", contact: "9898989898" },
        { position: "Cricket Co-ordinator", name: "Lokesh Sarode", contact: "7972142499" },
        { position: "Football Co-ordinator", name: "Ashwin Santapure", contact: "8080985101" },
        { position: "Volleyball Co-ordinator", name: "Tanmay Gaikwad", contact: "9876549876" },
        { position: "Kabaddi Co-ordinator", name: "Parag Nandre", contact: "9356610970" },
        { position: "Badminton Co-ordinator", name: "Yash Sawant", contact: "9325132658" },
        { position: "Chess Co-ordinator", name: "Pratham Shah", contact: "9898989898" },
        { position: "Carrom Co-ordinator", name: "Nikhil Kagde", contact: "9022715799" },
    ];

    return (
        <div className="container py-5">
            <h1 className="text-primary text-center mb-4">Event Coordinators</h1>
            <div className="content p-4 shadow rounded bg-white">
                <table className="table table-bordered">
                    <thead className="thead-dark">
                        <tr>
                            <th>Position</th>
                            <th>Name</th>
                            <th>Contact</th>
                        </tr>
                    </thead>
                    <tbody>
                        {coordinators.map((coordinator, index) => (
                            <tr key={index}>
                                <td>{coordinator.position}</td>
                                <td>{coordinator.name}</td>
                                <td>{coordinator.contact}</td>
                            </tr>
                        ))}
                    </tbody>
                </table>
            </div>
        </div>
    );
};

export default Organisers;
