/* Basic styles to complement Bootstrap */
body {
    font-family: Arial, sans-serif;
}

.min-vh-100 {
    min-height: 100vh;
}

header, footer {
    padding: 1rem 2rem;
}

/* .bg-primary {
    background-color: #dc5605 !important;
} */

/* .bg-light {
    background-color: #f8f9fa !important;
} */
/* 
.bg-white {
    background-color: #ffffff !important;
} */

/* .text-primary {
    color: #dc5605 !important;
} */

/* .text-white {
    color: #ffffff !important;
} */

a.text-primary:hover {
    text-decoration: underline;
}

a.text-white:hover {
    text-decoration: underline;
}

/* Custom icon styles */
.bi {
    width: 40px;
    height: 40px;
}

main .h1, main .h2, main .h3, main .h4, main .h5 {
    font-weight: bold;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Popup Content Box */
.popup-content {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

/* Close button */
.closeBtn {
    color: red;
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.col-md-5{
    
    text-align: center;
    padding: 15px 20px;
    flex-wrap: wrap;
}

/* Custom Card Styling */
.custom-card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* height: 100px; */
    padding: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

/* Icon Styling */
.icon-style {
    color: #dc5605;
    margin-bottom: 15px;
}

/* Card Text */
.card-text {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}

/* Responsive Design */
@media (max-width: 768px) {
    .custom-card {
        padding: 15px;
    }
    .card-text {
        font-size: 14px;
    }
}
